
<%-include('./partials/user-header') %>
<%-include('./partials/user-nav') %>
<!-- banner -->


<section class="banner-section" style="margin: 0;">
    <div class="container-fluid" style="padding: 0 !important;">
        <div class="row">
            <div class="col-12" style="margin: 0 !important;">
                <div class="row">
                    <% banners.forEach((banner, index) => { %>
                        <img src="/images/<%= banner.image %>" style="width: 100%;">
                    <% }); %>
                </div>
            </div>
        </div>
    </div>
</section>





<hr class="hr" />

<div class="container">
    <div class="row">
        <% products.forEach(function(product){ %>
            <div class="col-md-3">
                <a href="/userProductDetails/<%= product._id %>" class="text-decoration-none text-dark">
                    <div class="image-container">
                        <img src="/uploads/<%= product.images[0] %>" class="img-fluid" alt="Image 1">
                    </div>
                    <div class="caption">
                        <h5><%= product.name %></h5>
                        <p>Rs <%= product.price - product.discount %></p>
                    </div>
                </a>
            </div>
        <% }) %>
    </div>
</div>

<style>
    .image-container {
    width: 100%; 
    height: 400px;
    overflow: hidden; 
    object-fit: cover;
}

.image-container img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    object-position: center;
    object-fit: contain;
}

</style>






<%-include('./partials/user-footer') %>